#include <windows.h>

#define MATRIX_EDIT_ID 0x314
#define MATRIX_CALCULATE_ID 0x2718
#define QR_DECOMPOSITION_ID 0x200
#define CHOLESKY_DECOMPOSITION_ID 0x201
#define LU_DECOMPOSITION_ID 0x202
#define LUP_DECOMPOSITION_ID 0x203
#define MATRIX_CLASSIFY_ID 0x204
#define TRACE_ID 0x205
#define DETERMINANT_ID 0x206
#define TRANSPOSE_ID 0x207
#define INVERSE_ID 0x208
#define EIGENVALUES_ID 0x209
#define MATRIX_EXIT_ID 0x210
#define GROUP_BOX_ID 0x211
#define MATRIX_ICON_ID 0x212
#define MATRIX_RANK_ID 0x213
#define EXP_ID 0x214
#define MATRIX_CLEAR_ID 0x215
#define MUL_ID 0x216
#define ADD_ID 0x217
#define SYSTEM_ID 0x218
#define SECOND_GROUP_BOX_ID 0x219
#define DIRECT_SUM_ID 0x227
#define KRONECKER_PRODUCT_ID 0x228
#define HADAMARD_PRODUCT_ID 0x229
#define KRONECKER_SUM_ID 0x230
#define FROBENIUS_PRODUCT_ID 0x231

#define FIRST_EDIT_ID 0x220
#define SECOND_EDIT_ID 0x221
#define MATRIX_INPUT_ID 0x222
#define MATRIX_CANCEL_ID 0x223
#define SECOND_CLEAR_ID 0x224
#define FIRST_GROUP_BOX_ID 0x225
#define DLG_SECOND_GROUP_BOX_ID 0x226

MATRIX_ICON_ID ICON "matrix_code_logo.ico"

MatrixDialog DIALOG 100, 100, 375, 255
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK
CAPTION "Matrix Calculator v1.0"
{
	 EDITTEXT MATRIX_EDIT_ID, 6, 5, 363, 122, WS_VSCROLL | WS_HSCROLL | ES_MULTILINE |  ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE
	 GROUPBOX "Unary operations", GROUP_BOX_ID, 6, 128, 363, 53
	 PUSHBUTTON "Compute", MATRIX_CALCULATE_ID, 161, 226, 51, 14, WS_VISIBLE
	 PUSHBUTTON "Exit", MATRIX_EXIT_ID, 217, 226, 51, 14, WS_VISIBLE 
	 PUSHBUTTON "Clear", MATRIX_CLEAR_ID, 105, 226, 51, 14, WS_VISIBLE
	 CONTROL "QR Decomposition", QR_DECOMPOSITION_ID, "Button", BS_AUTORADIOBUTTON, 90, 154, 71, 9, WS_VISIBLE | WS_CHILD | WS_EX_TRANSPARENT
	 CONTROL "Cholesky Decomposition", CHOLESKY_DECOMPOSITION_ID, "Button", BS_AUTORADIOBUTTON, 194, 154, 90, 9, WS_VISIBLE | WS_EX_TRANSPARENT 
	 CONTROL "LU Decomposition", LU_DECOMPOSITION_ID, "Button", BS_AUTORADIOBUTTON, 90, 167, 70, 9, WS_VISIBLE | WS_CHILD  | WS_EX_TRANSPARENT 
	 CONTROL "LUP Decomposition", LUP_DECOMPOSITION_ID, "Button", BS_AUTORADIOBUTTON, 10, 167, 75, 9, WS_VISIBLE	 | WS_EX_TRANSPARENT 
	 CONTROL "Classify matrix", MATRIX_CLASSIFY_ID , "Button", BS_AUTORADIOBUTTON, 194, 167, 60, 9, WS_VISIBLE | WS_EX_TRANSPARENT 
	 CONTROL "Matrix Trace", TRACE_ID, "Button", BS_AUTORADIOBUTTON, 10, 139, 50, 9, WS_VISIBLE  | WS_EX_TRANSPARENT 
	 CONTROL "Determinant calculation", DETERMINANT_ID, "Button", BS_AUTORADIOBUTTON, 194, 139, 87, 9, WS_VISIBLE  | WS_EX_TRANSPARENT 
	 CONTROL "Matrix Transpose", TRANSPOSE_ID, "Button", BS_AUTORADIOBUTTON, 295, 139, 67, 9, WS_VISIBLE | WS_EX_TRANSPARENT 
	 CONTROL "Matrix Inverse", INVERSE_ID, "Button", BS_AUTORADIOBUTTON, 10, 154, 58, 9, WS_VISIBLE  | WS_EX_TRANSPARENT 
	 CONTROL "Eigenvalues/eigenvectors", EIGENVALUES_ID, "Button", BS_AUTORADIOBUTTON, 90, 139, 94, 9, WS_VISIBLE | WS_EX_TRANSPARENT 
	 CONTROL "Matrix rank", MATRIX_RANK_ID, "Button", BS_AUTORADIOBUTTON, 295, 154, 47, 9, WS_VISIBLE | WS_EX_TRANSPARENT 
	 CONTROL "Matrix exponential", EXP_ID, "Button", BS_AUTORADIOBUTTON, 295, 167, 71, 9, WS_VISIBLE | WS_EX_TRANSPARENT  
	 CTEXT "Matrix multiplication", MUL_ID, 10, 195, 70, 9, WS_VISIBLE | ES_CENTER | SS_NOTIFY  
	 CTEXT "Matrix addition", ADD_ID, 91, 195, 51, 8, WS_VISIBLE | ES_CENTER | SS_NOTIFY  
	 CTEXT "System of linear equations", SYSTEM_ID, 194, 195, 89, 8, WS_VISIBLE | ES_CENTER | SS_NOTIFY  
	 CTEXT "Direct sum", DIRECT_SUM_ID, 295, 195, 39, 8, WS_VISIBLE | ES_CENTER | SS_NOTIFY   
	 CTEXT "Kronecker product", KRONECKER_PRODUCT_ID, 10, 207, 63, 8, WS_VISIBLE | ES_CENTER | SS_NOTIFY   
	 CTEXT "Hadamard product", HADAMARD_PRODUCT_ID, 91, 208, 63, 8, WS_VISIBLE | ES_CENTER | SS_NOTIFY   
	 CTEXT "Kronecker Sum", KRONECKER_SUM_ID, 195, 208, 51, 8, WS_VISIBLE | ES_CENTER | SS_NOTIFY   
	 CTEXT "Frobenius product", FROBENIUS_PRODUCT_ID, 295, 208, 63, 8, WS_VISIBLE | ES_CENTER | SS_NOTIFY  
	 GROUPBOX "Binary operations", SECOND_GROUP_BOX_ID, 6, 183, 363, 39
}

1 RT_MANIFEST  "MANIFEST"

BinaryDialog DIALOG 100, 100, 375, 250
STYLE WS_VISIBLE | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK
CAPTION "Binary matrix operation input"
{
	 EDITTEXT FIRST_EDIT_ID, 10, 13, 357, 90, WS_VSCROLL | ES_MULTILINE |  ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE 
	 EDITTEXT SECOND_EDIT_ID, 10, 122, 357, 90, WS_VSCROLL | ES_MULTILINE |  ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE
	 GROUPBOX "First matrix", FIRST_GROUP_BOX_ID, 5, 2, 367, 107
	 GROUPBOX "Second matrix", DLG_SECOND_GROUP_BOX_ID, 5, 111, 367, 107
	 PUSHBUTTON "Input", MATRIX_INPUT_ID, 161, 222, 51, 14, WS_VISIBLE
	 PUSHBUTTON "Cancel", MATRIX_CANCEL_ID, 217, 222, 51, 14, WS_VISIBLE 
	 PUSHBUTTON "Clear", SECOND_CLEAR_ID, 105, 222, 51, 14, WS_VISIBLE
}

#define MENU_OPEN_ID 0x240
#define MENU_EXIT_ID 0x210
#define MENU_ABOUT_ID 0x242
#define MENU_FONT_ID 0x243
#define MENU_SAVE_ID 0x244

MatrixMenu MENU {

	POPUP "&File" {

		MENUITEM "&Open", MENU_OPEN_ID
		MENUITEM "&Save", MENU_SAVE_ID
		MENUITEM "&Exit", MENU_EXIT_ID
	}
	
	POPUP "&Options" {
	
		MENUITEM "&Font", MENU_FONT_ID
	}
	
	POPUP "&Help" {
	
		MENUITEM "&About", MENU_ABOUT_ID
	}
}

BinaryMenu MENU {

	POPUP "&File" {
	
		MENUITEM "&Open", MENU_OPEN_ID
	} 
}

#define APP_VERSION_ID 0x300
#define BUILD_DATE_ID 0x301
#define OK_BUTTON_ID 0x302
#define ICON_CTRL_ID 0x303
#define SURPRISE_SOUND_ID 0x304

SURPRISE_SOUND_ID SOUND "easter_egg.wav"

AboutDialog DIALOG 100, 45, 175, 58
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
{
	 CTEXT "Simple matrix calculator, Version 1.0", APP_VERSION_ID, 38, 10, 123, 7, WS_VISIBLE | ES_CENTER | SS_NOTIFY   
	 EDITTEXT BUILD_DATE_ID, 41, 21, 121, 8, ES_READONLY | NOT WS_BORDER | WS_DISABLED
	 PUSHBUTTON "OK", OK_BUTTON_ID, 129, 39, 42, 14, WS_VISIBLE
	 CONTROL "", ICON_CTRL_ID, "STATIC", SS_OWNERDRAW | SS_NOTIFY, 15, 11, 28, 22 
}
